
/* 
    Created on : Sep 10, 2017, 8:58:04 PM
    Author     : Manshu(Badshah)
*/
*{margin: 0px;padding: 0px;}
body{background: #f5f5f5;font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));}
h1,h2,h3,h4,h5,h6 {font-family: Roboto, Helvetica, Arial, sans-serif; font-weight: 300; color: rgba(0,0,0,0.6);   text-shadow: 1px 1px 0 rgba(255,255,255,0.8);}
p {font-family: Roboto, Helvetica, Arial, sans-serif; color: rgba(0,0,0,0.87);}
a {font-family: Roboto, Helvetica, Arial, sans-serif; text-decoration: none !important; }
li {font-family: Roboto, Helvetica, Arial, sans-serif; }
.header{ width: 100%; height: 50px; background-color: black;  position: fixed; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); opacity:0.9;     z-index: 25;}
.logo{width: 100px; height: 60px; border: none; padding-left: 25px;  margin: 0 15px 50px; object-fit: cover;}
.header_menu{ float: right;margin-right: 25px;padding: 8px 16px; font-family: Verdana,sans-serif; border: none; color: #ffffff; margin: 11px 15px 20px; }
.header_menu:hover{ color: #cfcfcf;}
.header_menu ::active{ border-bottom: 1px solid #ccc !important;}/* this is not done correctly*/
/*.container{ width: 100%; height: 2299px; background-color: white;padding-top: 50px;  }*/
.slide_show{overflow: hidden; width: 100%;height: 555px; /*background-image: url("../f-you.jpg");*/ position: relative;	background: #000;color: #fff; background-repeat: no-repeat; background-position: center; background-size: cover;  box-sizing: inherit; padding-top: 50px; background-size: cover;background-attachment:fixed;}
/*handle typing carosel effect created in slideshow */
.section{width: 100%; height: 100%; background-color: #2f2f2; }
.section2{width: 100%; height: 100%; background-color: #fff; }
.section3{width: 100%; height: 100%; vertical-align: middle;  border-bottom: 1px solid #ccc !important; background-image: url("images/     .jpg"); background-repeat: no-repeat; background-position: center; background-size:cover; background-position-x:100%;   background-attachment: fixed; background-color: #000; }
/*data where user chosse its prefer tutorial*/
.title{padding-top: 70px;padding-bottom: 50px; font-family: Verdana,sans-serif; text-align: center; margin-top: 0 !important;}
.cardImage{ border: none;height: 200px;width: 100%; background-repeat: no-repeat;  border-top-left-radius: 10px;border-top-right-radius: 10px;}
.DiscriptionOfcontent{width: 100%; height: 120px; background-color: white;  }
.DiscriptionOfcontent h2{text-align:center;}
.DiscriptionOfcontent p{margin: 16px 24px auto; overflow: hidden; }
/* Declaring the grid view */
#container {width: 100%;}
#card-container {text-align: center;}
.col-wrapper {display: inline-block;margin: 0 -5px 0 0;width: 49%;vertical-align: top; }
.col {display: inline-block;margin: 0 -5px -5px 0;width: 50%;vertical-align: top;}
.item {width: calc(100% - 25px);background: #fff;margin: 25px auto;text-align: left;-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75); border-radius: 10px;}
.item-img {position: relative;width: 100%;}
.item-img img {position: relative;width: 100%;}
.item-desc {position: relative;padding: 25px;}
.item-desc a {position: relative;display: block;font-weight: 500;margin: 25px 0 0 0;color: #37474F;}
.item-heading {font-size: 1.25em;margin: 0 0 10px 0;font-weight: 500;}
@media (max-width: 1550px) {
  .col-wrapper {width: 40%;}
  .col-1, .col-2 {width: 100%;display: block;}
}
@media (max-width: 985px) {
  .col-wrapper { width: 48%;}
}
@media (max-width: 675px) {
  .col-wrapper {width: 75%;}
}
@media (max-width: 525px) {
  .col-wrapper {width: 96%;}
}
/*Side navigation bar inspire from w3school's side bar '*/
.sidenav {height: 100%;width: 0;position: fixed;z-index: 1;top: 0;left: 0;background-color: #111;overflow-x: hidden;transition: 0.5s;padding-top: 60px;text-align:center; display:block;}
.sidenav a {padding: 8px 8px 8px 32px;text-decoration: none;font-size: 25px;color: #ffffff;transition: 0.3s;}
.sidenav a:hover{color: #f1f1f1;}
.sidenav .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px;}
#contact {
    /*background: #d2eae3;*/
}
#contact hr.star-primary:after {background-color: #FFFFFF;}
#contact .form-padding { padding:0px 10px;}
.floating-label-form-group input,
.floating-label-form-group textarea {z-index: 1;position: relative;padding-right: 0;padding-left: 0;border: 0;border-radius: 0;font-size: 1.5em;background: 0 0;box-shadow: none!important;resize: none;}
.floating-label-form-group label {display: block;z-index: 0;position: relative;top: 2em;margin: 0;font-size: .85em;line-height: 1.764705882em;vertical-align: middle; vertical-align: baseline;opacity: 0;-webkit-transition: top .3s ease,opacity .3s ease;-moz-transition: top .3s ease,opacity .3s ease;-ms-transition: top .3s ease,opacity .3s ease;transition: top .3s ease,opacity .3s ease;}
.floating-label-form-group::not(:first-child) {padding-left: 14px;border-left: 1px solid #eee;}
.floating-label-form-group-with-value label {top: 0;opacity: 1;}
.floating-label-form-group-with-focus label {color: #ccc;}
form .floating-label-form-group {border: 2px solid #ccc;border-radius: 6px;}
/*Declaring footer css*/
.footer{ width: 100%; height: 72px; background-color: #b0bece;  bottom: 0;  }
.footer_menu{ float: right;padding-top: 5px;margin-right: auto; width: 100%; color: white; list-style: none;  }
.footer_menu a{ text-decoration: none; color: white;}
/*HERE WE START AN SECOND WEBPAGE ABOUT US*/
.about_us_conatiner{padding-top: 100px; padding-left: 10px; padding-right: 10px;}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {background-color: #eee;color: #444;cursor: pointer;padding: 18px;width: 100%;border: none;text-align: left;outline: none;font-size: 15px;transition: 0.4s;}
.active, .accordion:hover {background-color: #ccc;}
.panel {padding: 0 21px;background-color: white;max-height: 0;overflow: hidden;transition: max-height 0.2s ease-out;}
.accordion:after {content: '\02795'; /* Unicode character for "plus" sign (+) */font-size: 13px;color: #777;float: right;margin-left: 5px;}
.active:after {content: "\2796"; /* Unicode character for "minus" sign (-) */}