#wrapper {height:100%;width:100%;text-align: center;display: table;position:absolute;}
#title {display: table-cell;vertical-align: middle;z-index: 999;font-size:5vw; color: #ffffff;line-height: 390px;}
#title h1 {color: #fff;font-size: 45px;}
#wrapper canvas {position: absolute;top: 0;left: 0;width: 1950px;height: auto;}
#canvas {z-index: 1;}
#canvasbg {z-index: -10;-webkit-filter: blur(3px);-moz-filter: blur(3px);-o-filter: blur(3px);filter: blur(3px);opacity: 0.6;}